- hosts: all
  tasks:


    - name: Set log path for a change
      when: zuul.change is defined
      set_fact:
        log_path: "{{ zuul.change[-2:] }}/{{ zuul.change }}/{{ zuul.patchset }}/{{ zuul.pipeline }}/{{ zuul.job }}/{{ zuul.build[:7] }}"

    - name: Set log path for a ref update
      when: zuul.newrev is defined
      set_fact:
        log_path: "{{ zuul.newrev[-2:] }}/{{ zuul.newrev }}/{{ zuul.pipeline }}/{{ zuul.job }}/{{ zuul.build[:7] }}"

    - name: Set log path for a periodic job
      when: zuul.change is not defined and zuul.newrev is not defined
      set_fact:
        log_path: "{{ zuul.pipeline }}/{{ zuul.job }}/{{ zuul.build[:7] }}"

    - name: Create tmp one more
      tempfile:
        state: file
      register: tmpe

    - name: Create log directory
      file:
         path: /tmp/new_zuul
         state: directory
         owner: ubuntu
         group: ubuntu
         mode: 0775     

    - name: Create ssh file
      copy:
        content: |
          sshpass -p ubuntu ssh -o StrictHostKeyChecking=no ubuntu@10.13.120.209 "mkdir -p /var/www/logs/{{ log_path }}"
          sshpass -p zuul12iso*help scp -o StrictHostKeyChecking=no -r zuul@10.13.120.207:{{ zuul.executor.log_root }} /tmp/new_zuul/
          sshpass -p ubuntu scp -o StrictHostKeyChecking=no -r /tmp/new_zuul/* ubuntu@10.13.120.209:/var/www/logs/{{ log_path }}/
        dest: "{{ tmpe.path }}"
        mode: 0777

    - name: run ssh command
      shell: bash {{ tmpe.path }}

    - name: Post Logs
      delegate_to: localhost
      zuul_return:
        data:
          zuul:
            log_url: "http://15.184.0.52/{{ log_path }}/"
